# Python files
__pycache__
**/__pycache__
.ipynb_checkpoints

# Ignore build output
book_source/source/_build
book_source/source/_static/**/manim_animations/
# On the main branch, don't include the docs folder
docs

# Manim output
media
videos

# Mac Files
.DS_Store
