/* Undo styling rules updated by including panels. These are just the old styles but marked as important */
@media (min-width: 1200px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 1400px !important;
  }
}

/* Fix icon spacing in prev/next buttons. Hack to get all FontAwesome icons */
main.bd-content #main-content .prev-next-bottom .right-next i.fa-fw {
  padding-right: 0.75rem;
  padding-left: 0rem;
}

.table-section {
  display: flex;
  justify-content: space-around;
}

.table-div {
  margin: 0 20px 0 20px;
}

@media (max-width: 768px) {
  .table-section {
    display: block;
  }
}


.flex {
  display: flex;
}

.trace-snippet-container {
  margin-bottom: 1.15rem;
}

.trace-snippet {
  border: none;
}

/* For question data tables */
.tg {
    border-collapse:collapse;
    border-color:#93a1a1;
    border-spacing:0;
}

.tg td {
    background-color:#fdf6e3;
    border-color:#93a1a1;
    border-style:solid;
    border-width:0px;
    color:#002b36;
     font-family:Arial, sans-serif;
    font-size:14px;
    overflow:hidden;
    padding:10px 5px;
    word-break:normal;
}

.tg th {
    background-color:#657b83;
    border-color:#93a1a1;
    border-style:solid;
    border-width:0px;
    color:#fdf6e3;
    font-family:Arial, sans-serif;
    font-size:14px;
    font-weight:normal;
    overflow:hidden;
    padding:10px 5px;
    word-break:normal;
}

.tg .tg-2bhk {
    background-color:#eee8d5;
    border-color:inherit;
    text-align:left;
    vertical-align:top
}

.tg .tg-0pky {
    border-color:inherit;
    text-align:left;
    vertical-align:top
}

/* Update Quiz styling */

div.Quiz {
    max-width: 100%;
}
